@font-face {
  font-family: 'ck-icons';
  src: url('../font/ck-icons.eot?91497999');
  src: url('../font/ck-icons.eot?91497999#iefix') format('embedded-opentype'),
       url('../font/ck-icons.woff2?91497999') format('woff2'),
       url('../font/ck-icons.woff?91497999') format('woff'),
       url('../font/ck-icons.ttf?91497999') format('truetype'),
       url('../font/ck-icons.svg?91497999#ck-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ck-icons';
    src: url('../font/ck-icons.svg?91497999#ck-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ck-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-times-circled:before { content: '\e800'; } /* '' */
.icon-attention-circled:before { content: '\e801'; } /* '' */
.icon-ion-arrow-up-b:before { content: '\e802'; } /* '' */
.icon-ion-arrow-down-b:before { content: '\e803'; } /* '' */
.icon-ion-arrow-left-b:before { content: '\e804'; } /* '' */
.icon-ion-ios7-star-half:before { content: '\e805'; } /* '' */
.icon-ion-ios7-star-outline:before { content: '\e806'; } /* '' */
.icon-ion-ios7-star:before { content: '\e807'; } /* '' */
.icon-check-circle:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-user-add:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-attention:before { content: '\e80d'; } /* '' */
.icon-thumbs-down:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-quote-left:before { content: '\e810'; } /* '' */
.icon-quote-right:before { content: '\e811'; } /* '' */
.icon-pencil-small:before { content: '\e812'; } /* '' */
.icon-ion-printer:before { content: '\e813'; } /* '' */
.icon-ion-ios7-chatbubble-outline:before { content: '\e814'; } /* '' */
.icon-ion-ios7-chatbubble:before { content: '\e815'; } /* '' */
.icon-ion-ios7-flag-outline:before { content: '\e816'; } /* '' */
.icon-ion-ios7-flag:before { content: '\e817'; } /* '' */
.icon-reply:before { content: '\e818'; } /* '' */
.icon-ion-navicon:before { content: '\e819'; } /* '' */
.icon-ck__account:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-ck__accounts:before { content: '\e81c'; } /* '' */
.icon-ck__advice_on_bankruptcy:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-ck__amortization_calculator:before { content: '\e81f'; } /* '' */
.icon-ck__articles:before { content: '\e820'; } /* '' */
.icon-ck__auto_insurance:before { content: '\e821'; } /* '' */
.icon-ck__auto_lease:before { content: '\e822'; } /* '' */
.icon-plus-circled:before { content: '\e823'; } /* '' */
.icon-ck__auto_loan:before { content: '\e824'; } /* '' */
.icon-minus-circled:before { content: '\e825'; } /* '' */
.icon-ck__automatic_credit_ananlysis:before { content: '\e826'; } /* '' */
.icon-help-circled:before { content: '\e827'; } /* '' */
.icon-ck__balance_transfers:before { content: '\e828'; } /* '' */
.icon-ion-plus-circled:before { content: '\e829'; } /* '' */
.icon-ion-minus-circled:before { content: '\e82a'; } /* '' */
.icon-ion-check-circled:before { content: '\e82b'; } /* '' */
.icon-ion-times-circled:before { content: '\e82c'; } /* '' */
.icon-ion-arrow-right:before { content: '\e82d'; } /* '' */
.icon-ion-info-circled:before { content: '\e82e'; } /* '' */
.icon-ion-help-circled:before { content: '\e82f'; } /* '' */
.icon-ion-ios7-times-outline:before { content: '\e830'; } /* '' */
.icon-ion-ios7-times-empty:before { content: '\e831'; } /* '' */
.icon-ion-ios7-checkmark-outline:before { content: '\e832'; } /* '' */
.icon-ion-ios7-check-empty:before { content: '\e833'; } /* '' */
.icon-ion-ios7-plus-outline:before { content: '\e834'; } /* '' */
.icon-ion-ios7-plus-empty:before { content: '\e835'; } /* '' */
.icon-ion-ios7-minus-outline:before { content: '\e836'; } /* '' */
.icon-ion-ios7-arrow-right:before { content: '\e837'; } /* '' */
.icon-ion-ios7-arrow-left:before { content: '\e838'; } /* '' */
.icon-ion-ios7-minus-empty:before { content: '\e839'; } /* '' */
.icon-ck__bank_account:before { content: '\e83a'; } /* '' */
.icon-ck__banking:before { content: '\e83b'; } /* '' */
.icon-ck__bankruptcy:before { content: '\e83c'; } /* '' */
.icon-ck__bill_reminders-:before { content: '\e83d'; } /* '' */
.icon-ck__bill:before { content: '\e83e'; } /* '' */
.icon-ck__cash_back:before { content: '\e83f'; } /* '' */
.icon-ck__cash_flow:before { content: '\e840'; } /* '' */
.icon-ck__certificate_of_deposit:before { content: '\e841'; } /* '' */
.icon-ck__checking_account:before { content: '\e842'; } /* '' */
.icon-ck__collections:before { content: '\e843'; } /* '' */
.icon-ck__communications_monitoring:before { content: '\e844'; } /* '' */
.icon-ck__consolidate_cc_debt:before { content: '\e845'; } /* '' */
.icon-ck__credit_cards:before { content: '\e846'; } /* '' */
.icon-ck__credit_help:before { content: '\e847'; } /* '' */
.icon-ck__credit_karma_blog:before { content: '\e848'; } /* '' */
.icon-ck__credit_karma:before { content: '\e849'; } /* '' */
.icon-ck__credit_report:before { content: '\e84a'; } /* '' */
.icon-ck__credit_score_factors:before { content: '\e84b'; } /* '' */
.icon-ck__credit_score_simulator:before { content: '\e84c'; } /* '' */
.icon-ck__credit_score_trends:before { content: '\e84d'; } /* '' */
.icon-ck__credit_scores:before { content: '\e84e'; } /* '' */
.icon-ck__daily_credit_monitoring:before { content: '\e84f'; } /* '' */
.icon-ck__debt_reduction:before { content: '\e850'; } /* '' */
.icon-ck__debt_repayment_calculator:before { content: '\e851'; } /* '' */
.icon-ck__deposit:before { content: '\e852'; } /* '' */
.icon-ck__disputes:before { content: '\e853'; } /* '' */
.icon-ck__earn_rewards:before { content: '\e854'; } /* '' */
.icon-ck__email_alerts:before { content: '\e855'; } /* '' */
.icon-ck__fee:before { content: '\e856'; } /* '' */
.icon-ck__public_profile:before { content: '\e857'; } /* '' */
.icon-ck__protect_your_identity:before { content: '\e858'; } /* '' */
.icon-ck__personal_loans:before { content: '\e859'; } /* '' */
.icon-ck_-public_records:before { content: '\e85a'; } /* '' */
.icon-ck_-bill_rights:before { content: '\e85b'; } /* '' */
.icon-ck__personal_info:before { content: '\e85c'; } /* '' */
.icon-ck__pay_down_ypur_debt:before { content: '\e85d'; } /* '' */
.icon-ck__transactions:before { content: '\e85e'; } /* '' */
.icon-ck__taxes:before { content: '\e85f'; } /* '' */
.icon-ck__new_auto_loans:before { content: '\e860'; } /* '' */
.icon-ck__my_spending:before { content: '\e861'; } /* '' */
.icon-ck__spending_by_category:before { content: '\e862'; } /* '' */
.icon-ck__site_suggestions:before { content: '\e863'; } /* '' */
.icon-ck__manage_accounts:before { content: '\e864'; } /* '' */
.icon-ck__low_interest:before { content: '\e865'; } /* '' */
.icon-ck__simple_loan_calculator:before { content: '\e866'; } /* '' */
.icon-ck__short_term_loan:before { content: '\e867'; } /* '' */
.icon-ck__log_out:before { content: '\e868'; } /* '' */
.icon-ck__loans:before { content: '\e869'; } /* '' */
.icon-ck__security_settings:before { content: '\e86a'; } /* '' */
.icon-ck__secured_card:before { content: '\e86b'; } /* '' */
.icon-ck__life_insurance:before { content: '\e86c'; } /* '' */
.icon-ck__interest_rate_trends:before { content: '\e86d'; } /* '' */
.icon-ck__savings:before { content: '\e86e'; } /* '' */
.icon-ck__saving_account:before { content: '\e86f'; } /* '' */
.icon-ck__increase_your_credit_limit:before { content: '\e870'; } /* '' */
.icon-ck__home_loans:before { content: '\e871'; } /* '' */
.icon-ck__save_on_student_debt:before { content: '\e872'; } /* '' */
.icon-ck__retirement:before { content: '\e873'; } /* '' */
.icon-ck__home_equity:before { content: '\e874'; } /* '' */
.icon-ck__home_affordability_calculator:before { content: '\e875'; } /* '' */
.icon-ck__resources:before { content: '\e876'; } /* '' */
.icon-ck__refinannce_homa_loan:before { content: '\e877'; } /* '' */
.icon-ck__help:before { content: '\e878'; } /* '' */
.icon-ck__get_approved_for_loan:before { content: '\e879'; } /* '' */
.icon-ck__refinance_auto_loan:before { content: '\e87a'; } /* '' */
.icon-ck__purchase:before { content: '\e87b'; } /* '' */
.icon-ck__financial_tools:before { content: '\e87c'; } /* '' */
.icon-car:before { content: '\e87d'; } /* '' */
.icon-filter:before { content: '\e87e'; } /* '' */
.icon-list-bullet:before { content: '\e87f'; } /* '' */
.icon-sort-alt-down:before { content: '\e880'; } /* '' */
.icon-pen:before { content: '\e881'; } /* '' */
.icon-ribbon:before { content: '\e882'; } /* '' */
.icon-user_sm:before { content: '\e883'; } /* '' */
.icon-flag:before { content: '\e884'; } /* '' */
.icon-ck__credit_union:before { content: '\e885'; } /* '' */
.icon-ck__helpful:before { content: '\e886'; } /* '' */
.icon-ck__lifebuoy:before { content: '\e887'; } /* '' */
.icon-ck__not_helpful:before { content: '\e888'; } /* '' */
.icon-ck__reply:before { content: '\e889'; } /* '' */
.icon-ck__view:before { content: '\e88a'; } /* '' */
.icon-ion-load-c:before { content: '\e88b'; } /* '' */
.icon-chat_bubble:before { content: '\e88c'; } /* '' */
.icon-prequal_checkbox:before { content: '\e88d'; } /* '' */
.icon-sort:before { content: '\e88e'; } /* '' */
.icon-reviews:before { content: '\e88f'; } /* '' */
.icon-business_loan:before { content: '\e890'; } /* '' */
.icon-student_loan:before { content: '\e891'; } /* '' */
.icon-comments:before { content: '\e892'; } /* '' */
.icon-other-1:before { content: '\e893'; } /* '' */
.icon-home-(1):before { content: '\e894'; } /* '' */
.icon-debt_solutions-(1):before { content: '\e895'; } /* '' */
.icon-life_insurance:before { content: '\e896'; } /* '' */
.icon-refresh_refresh:before { content: '\e897'; } /* '' */
.icon-best_credit_cards:before { content: '\e898'; } /* '' */
.icon-single_card:before { content: '\e899'; } /* '' */
.icon-icon_filters:before { content: '\e89a'; } /* '' */
.icon-icon_categories:before { content: '\e89b'; } /* '' */
.icon-icon_phoneold:before { content: '\e89c'; } /* '' */
.icon-icon_searchall:before { content: '\e89d'; } /* '' */
.icon-ck__savecard:before { content: '\e89e'; } /* '' */
.icon-ck__removecard:before { content: '\e89f'; } /* '' */
.icon-actions_assets_bookmark_fill:before { content: '\e8a0'; } /* '' */
.icon-actions_assets_bookmark:before { content: '\e8a1'; } /* '' */
.icon-actions_assets_email:before { content: '\e8a2'; } /* '' */
.icon-actions_assets_facebook:before { content: '\e8a3'; } /* '' */
.icon-actions_assets_hide-copy:before { content: '\e8a4'; } /* '' */
.icon-actions_assets_hide:before { content: '\e8a5'; } /* '' */
.icon-actions_assets_more:before { content: '\e8a6'; } /* '' */
.icon-actions_assets_pin_fill:before { content: '\e8a7'; } /* '' */
.icon-actions_assets_pin:before { content: '\e8a8'; } /* '' */
.icon-actions_assets_share_fill:before { content: '\e8a9'; } /* '' */
.icon-actions_assets_share:before { content: '\e8aa'; } /* '' */
.icon-actions_assets_twitter:before { content: '\e8ab'; } /* '' */
.icon-ck_logo:before { content: '\e8ae'; } /* '' */